<div class="features_items"><!--features_items-->
    <h2 class="title text-center order-text">
        <a href="#" id="order-by-title" data-order="asc" title="Order by title">
            Title
        </a>
        <span> / </span>
        <a href="#" id="order-by-price" data-order="asc" title="Order by price">
            Price
        </a>
    </h2>

    <!--list of products - handlebars/products.js.twig -->
    <div id="product-list"></div>
    <!--list of products - handlebars/products.js.twig-->

</div><!--features_items-->

<script src="{{ asset('resources/front/templates/products.js') }}"></script>