<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Home{% endblock %} | E-Shopper</title>

    <link href="{{ asset('resources/front/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/front/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/front/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/front/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('resources/front/css/responsive.css') }}" rel="stylesheet">

    <link href="{{ asset('resources/front/css/custom.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{ asset('resources/front/js/html5shiv.js') }}"></script>
    <![endif]-->
    <script src="{{ asset('resources/front/js/jquery.js') }}"></script>
    {% include '@App/handlebars/products.js.twig' %}
    {% include '@App/handlebars/discounts.js.twig' %}
    {% include '@App/handlebars/cartIcon.js.twig' %}
    {% include '@App/handlebars/cart.js.twig' %}
</head><!--/head-->

<body>
<header id="header"><!--header-->
    {% include '@App/includes/header.html.twig' %}
</header><!--/header-->

{% block slider %}
    {% include '@App/includes/slider.html.twig' %}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    {% include '@App/includes/aside.html.twig' %}
                </div>

                <div class="col-sm-9 padding-right">
                    {% include '@App/Product/list.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<footer id="footer"><!--Footer-->
    {% include '@App/includes/footer.html.twig' %}
</footer><!--/Footer-->

<script src="{{ asset('resources/front/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('resources/front/js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ asset('resources/front/js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ asset('resources/front/js/handlebars-v4.0.5.js') }}"></script>
<script src="{{ asset('resources/front/js/main.js') }}"></script>
</body>
</html>