{% verbatim %}
   <script id="cart" type="text/x-handlebars-template">
        {{#each products}}
            <tr>
                <td class="cart_product">
                    <img src="/resources/front/images/custom/book1.jpg" alt="book" class="cart-item-img">
                </td>
                <td class="cart_description">
                    <h4>{{this.title}}</h4>
                    <p>{{this.authors}}</p>
                    <p>{{this.publisher}}</p>
                </td>
                <td class="cart_price">
                    <p>{{this.price}}</p>
                </td>
                <td class="cart_price">
                    <p>{{this.discountedPrice}}</p>
                </td>
                <td class="cart_quantity">
                    <div class="cart_quantity_button">
                        <a class="cart_quantity_up" data-product="{{this.id}}" href="" > + </a>
                        <span class="cart-quantity-wrapper">{{this.amount}}</span>
                        <a class="cart_quantity_down" data-product="{{this.id}}" href=""> - </a>
                    </div>
                </td>
                <td class="cart_delete">
                    <a class="cart_quantity_delete" data-product="{{this.id}}" href=""><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {{/each}}
        <tr>
            <td colSpan="2">
                <h4 class="cart-sum-text-wrapper">Total price without discounts:</h4>
            </td>
            <td class="cart_price">
                <p>{{this.sumAllPrice}} HUF</p>
            </td>
            <td colSpan="3"></td>
        </tr>
        <tr>
            <td colSpan="2">
                <h4 class="cart-sum-text-wrapper">Discount:</h4>
            </td>
            <td class="cart_price">
                <p>{{this.discount}} HUF</p>
            </td>
            <td colSpan="3"></td>
        </tr>
        <tr>
            <td colSpan="2">
                <h4 class="cart-sum-text-wrapper">Total discounted price:</h4>
            </td>
            <td class="cart_price">
                <p>{{this.sumDiscountedPrice}} HUF</p>
            </td>
            <td colSpan="3"></td>
        </tr>
    </script>
{% endverbatim %}
