{% verbatim %}
   <script id="discounts" type="text/x-handlebars-template">
        {{#each discounts}}
            <div class="item {{#if @first}}active{{/if}}">
                <div class="col-sm-6">
                    <h1><span>E</span>-SHOPPER</h1>
                    <h2>Our discout for you!</h2>
                    <p>{{this.name}}</p>
                </div>
                <div class="col-sm-6">
                    <img src="/resources/front/images/custom/woman-with-book1.png" class="girl img-responsive main-img" alt="discount image" />
                </div>
            </div>
        {{/each}}
    </script>
{% endverbatim %}
