{% verbatim %}
   <script id="products" type="text/x-handlebars-template">
        {{#each products}}
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <img src="/resources/front/images/custom/book1.jpg" alt="book" class="book-img"/>
                        <h2>
                            {{this.discountedPrice}}HUF
                            {{#if this.isDiscounted}}<del class="smaller-price">{{this.price}}HUF</del>{{/if}}
                        </h2>
                        <p>{{this.title}}</p>
                        <a href="#" data-product="{{this.id}}" class="btn btn-default add-to-cart add-product-to-cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </a>
                    </div>
                    {{#if this.isDiscounted}}<img src="/resources/front/images/home/sale.png" class="new" alt="sale mark">{{/if}}
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li><a href="#"><i class="fa fa-plus-square"></i>See details</a></li>
                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{/each}}
    </script>
{% endverbatim %}
