{% extends '@App/layout.html.twig' %}

{% block title %}E-shop{% endblock %}

{% block slider %}{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    {% include '@App/includes/aside.html.twig' %}
                </div>

                <div class="col-sm-9 padding-right">
                    {% include '@App/Product/list.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
