.book-img {
    margin: 25px;
    max-width: 80%;
}

.main-img {
    max-width: 80%;
}

.order-text a {
    color: #FE980F;
}

.advertisement-wrapper {
    background: #FE980F;
    min-height: 100px;
    margin: 20px auto;
}

.cart-btn-holder{
    margin-bottom: 50px;
}

.smaller-price{
    font-size: 20px;
    color: #696763;
}

.cart-item-img{
    max-height: 100px;
}

.cart-quantity-wrapper{
    background: #F0F0E9;
    color: #696763;
    display: inline-block;
    font-size: 16px;
    height: 28px;
    overflow: hidden;
    text-align: center;
    width: 35px;
    float: left;
}

.cart-sum-text-wrapper{
    margin: 20px auto 20px 25px !important;
}