<div class="left-sidebar">
    <h2>Books</h2>
    <div class="panel-group category-products" id="accordian"><!--books-products-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#news">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        News
                    </a>
                </h4>
            </div>
            <div id="news" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Category 1 </a></li>
                        <li><a href="#">Category 2 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#action">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Action
                    </a>
                </h4>
            </div>
            <div id="action" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Category 1 </a></li>
                        <li><a href="#">Category 2</a></li>
                    </ul>
                </div>
            </div>
        </div> <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#publisher">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Publishers
                    </a>
                </h4>
            </div>
            <div id="publisher" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Publisher 1 </a></li>
                        <li><a href="#">Publisher 2 </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#author">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Authors
                    </a>
                </h4>
            </div>
            <div id="author" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Fendi</a></li>
                        <li><a href="#">Guess</a></li>
                        <li><a href="#">Valentino</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/books-products-->

    <div class="brands_products"><!--category-->
        <h2>Category</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#"> <span class="pull-right">(50)</span>Category 1</a></li>
                <li><a href="#"> <span class="pull-right">(56)</span>Category 2</a></li>
                <li><a href="#"> <span class="pull-right">(27)</span>Category 3</a></li>
                <li><a href="#"> <span class="pull-right">(32)</span>Category 4</a></li>
                <li><a href="#"> <span class="pull-right">(5)</span>Category 5</a></li>
                <li><a href="#"> <span class="pull-right">(9)</span>Category 6</a></li>
            </ul>
        </div>
    </div><!--/category-->
</div>