<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="companyinfo">
                    <h2><span>e</span>-shopper</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="companyinfo">
                    <h2>Our address</h2>
                    <p>Bakery street 128</p>
                    <p>012345871 FT</p>
                    <p>England</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="companyinfo">
                    <h2>Contact Us</h2>
                    <p>eshoper@eshoper.com</p>
                    <p>0123 456 789</p>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="address">
                    <img src="{{ asset('resources/front/images/home/map.png') }}" alt="map"/>
                    <p>505 S Atlantic Ave Virginia Beach, VA(Virginia)</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <p class="pull-left">Copyright © 2016 Martina Koronci Babinská</p>
            <p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span>
            </p>
        </div>
    </div>
</div>