<div class="header-middle"><!--header-top-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo pull-left">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('resources/front/images/home/logo.png') }}"
                                                          alt="logo"/></a>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="shop-menu pull-right" >
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('cart_index') }}">
                                <i class="fa fa-shopping-cart"></i>
                                Cart
                                <!--cart icon - handlebars/cartIcon.js.twig -->
                                <span id="cart-icon-handler"></span>
                                <!--cart icon - handlebars/cartIcon.js.twig -->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--/header-top-->

<div class="header-bottom"><!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9"><!--navbar-->
                {% include '@App/includes/navbar.html.twig' %}
            </div><!--navbar-->

            <div class="col-sm-3"><!--search-->
                <div class="search_box pull-right">
                    <input type="text" placeholder="Search"/>
                </div>
            </div><!--search-->
        </div>
    </div>
</div><!--/header-bottom-->