<nav class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a href="{{ path('homepage') }}"
               class="{% if app.request.attributes.get('_route') starts with 'homepage' %}active{% endif %}">Home</a>
        </li>
        <li><a href="{{ path('shop_index') }}"
               class="{% if app.request.attributes.get('_route') starts with 'shop' %}active{% endif %}">Shop</a></li>
        <li><a href="#footer" id="scrollDown">Contact Us</a></li>
    </ul>
</nav>