{% extends '@App/layout.html.twig' %}

{% block title %}Cart{% endblock %}

{% block slider %}{% endblock %}

{% block body %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="description"></td>
                        <td class="price">Price (HUF)</td>
                        <td class="price">Discounted price (HUF)</td>
                        <td class="quantity">Quantity</td>
                        <td></td>
                    </tr>
                    </thead>

                    <!--list of cart products - handlebars/cart.js.twig -->
                    <tbody id="cart_product_list"></tbody>
                    <!--list of cart products - handlebars/cart.js.twig -->
                </table>
            </div>
            <div class="cart-btn-holder pull-right">
                <a class="btn btn-default update" href="{{ path('homepage') }}">Back to shop</a>
                <a class="btn btn-default update" href="#">Continue</a>
            </div>
        </div>
    </section>

    <script src="{{ asset('resources/front/templates/cart.js') }}"></script>
{% endblock %}
